# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets (NE JAMAIS COMMIT!)
.env
secrets.toml
*_secret*
*_key*

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/